:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

body {
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    color: white;
}

#supportingText {
    color: #D5D4D8;
    font-family: 'Inter', sans-serif;
}

#accented {
    color: #4adf86;
}

button {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: 4adf86;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

hr {
    width: 100%;
    border-color: #273549;
    
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    width: 30%;
    height: 50%;
    background-color: #1F2937;
    padding: 2.5rem;
    border-radius: 10px;
}

.passwordBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46%;
    height: 2rem;
    background-color: #273549;
}

div {
    
    border-color: aqua;
}

#lowerHalf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#randomPassword1, #randomPassword2 {
    font-family: 'Inter', sans-serif;
    color: #10b981;
    font-size: 1rem;

}